.Header {
  font-family: Haettenschweiler;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  color: #2B609A;
  font-variant: normal;
}
.SecondHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  color: #2B609A;
}
.BodyText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
.BodyTextBold {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}
.ThirdHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: normal;
  color: #2B609A;
}
.FourthHeaderCopy {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: normal;
  color: #2B609A;
}
.MenuHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #FFFFFF;
  font-variant: normal;
}
a {
  font-weight: bolder;
  font-variant: normal;
  text-decoration: none;
  color:#2B609A;
}
a:visited {
  color:#2B609A;
}
a.MenuHeader:visited {
  color:#FFFFFF;
}
a.MenuHeader:hover {
  color:#97CEF0;
}
